@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --color-dark-bg: #1a1a1a;
    --color-lighter-bg: #212121;
    --color-light-green: #7CFC00;
    --color-light-orange: #FFA500;
    --color-light-white: #e0e0e0;
    --color-light-red: #dc2626;
}

@layer components {
    .btn {
        @apply font-bold py-3 px-6 rounded transition-all duration-300 transform hover:cursor-pointer;
    }

    .btn-primary {
        @apply bg-light-green text-dark-bg hover:shadow-[0_0_10px_var(--color-light-green)];
    }

    .btn-secondary {
        @apply bg-light-green hover:bg-light-green/80 hover:shadow-lg text-dark-bg;
    }

    .input-orange {
        @apply min-w-[250px] bg-transparent text-light-orange p-4 rounded border-[0.2px] border-light-orange;
    }

    .nav-btn {
        @apply px-3 text-light-green hover:text-light-orange transition duration-300;
    }
}

@layer utilities {
    input:-webkit-autofill {
        -webkit-text-fill-color: #FFA500;
        -webkit-background-clip: text;
        transition: background-color 5000s ease-in-out 0s;
    }
}
